@inherits LayoutComponentBase
@*<div class="container">
        <div class="content px-4">
            @Body
        </div>
    </div>*@
@*<style type="text/css" media="print">
        @page {
            size:  landscape;
        }
        body {
            writing-mode: tb-rl;
        }
    </style>*@
<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />
@*Class="d-flex align-center"*@
<MudContainer  Style="direction:rtl; width: 100%; height: 100%; margin: 0% 0% 0% 0%;">
    @Body
</MudContainer>
@code {
    @using MudBlazor;
    @using Microsoft.JSInterop;

    @using WaterS.Client.Infrastructure.Settings;

    private MudTheme _currentTheme;

    protected override async Task OnInitializedAsync()
    {
        _currentTheme = BlazorHeroTheme.DefaultTheme;
        _currentTheme = await _clientPreferenceManager.GetCurrentThemeAsync();

    }


}